@import 'components/_global.scss'; 
@import 'components/_header.scss'; 
@import 'components/_advantages.scss'; 
@import 'components/_about-menu.scss'; 

@import 'components/_service-instructions.scss'; 
@import 'components/_light-package.scss'; 
@import 'components/_partners.scss'; 
@import 'components/_on-devices.scss'; 

@import 'components/_places.scss'; 
@import 'components/_how-works.scss'; 
@import 'components/_tarifs.scss'; 
@import 'components/_smartphone.scss'; 
@import 'components/_tablet-menu.scss'; 

@import 'components/_profile.scss'; 
@import 'components/_cloud.scss'; 
@import 'components/_feedback.scss'; 
@import 'components/_footer.scss'; 