.about-menu {
	padding-bottom: 50px;
	&-info {
		margin-bottom: 40px;
	}
	&-img {
		width: 70%;
		height: auto;
		margin-right: 30px;
		margin-left: auto;
		img {
			width: 100%;
			display: inline-block;
		}		
	}
	&-info-wrap {
		padding-top: 0;
		max-width: 650px; 
	}
	&-subtitle {
		margin-top: -30px;
		font-weight: 300;
		font-size: 28px;
		margin-bottom: 45px;
		color: #00c6ff;
	}
	&-item {
		&-heading {
			margin-bottom: 30px;
			span {
				display: inline-block;
				vertical-align: top;
				text-align: left;
			}
		}
		&-text {
			width: 70%;
			color: #000000;
			font-size: 18px;
			line-height: 1;
			font-weight: 300;
			text-transform: uppercase;
			padding-top: 5px;
		}
		&-icon {
			width: 20%;
			margin-right: 5px;
		}
		&-caption {
			color: #606060;
			font-family: "Open Sans";
			font-size: 16px;
			font-weight: 300;
		}
	}
}

@media only screen  and (max-width : 1199px) {
	.about-menu {
		padding: 30px 0;
		&-img {
			img {
				margin-top: 15%;
			}
		}
		&-info-wrap {
			padding-top: 30px;
		} 
		&-subtitle {
			margin-top: -20px;
			font-size: 18px;
			margin-bottom: 25px;
			text-align: left;
		}
		&-item {
			font-size: 20px;
			margin-bottom: 15px;
			&-heading {
				margin-bottom: 15px;
				padding-bottom: 15px;
				border-bottom: 4px solid #eeeeee;
				span {
					vertical-align: middle;
				}
			}
			&-text {
				width: 60%;
			}
		}
		&-demo {
			text-align: center;
		}
	}
}

@media only screen  and (max-width : 991px) {
	.about-menu {
		&-img {
			width: 100%;
		}
	}
}

@media only screen  and (max-width : 767px) {
	.about-menu { 
		padding: 0;
		&-img {
			margin-right: auto;
			width: 60%;
			height: auto;
			img {
				margin-top: 10%;
			}
		}		
	}
}

@media only screen  and (min-width : 1824px) {
	.about-menu {
		&-item {
			&-heading {
				font-size: 22px;
			}
		}
		&-icon {
			margin-right: 0;
		}
	}
}
