@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/Proxima_Nova/Proxima_Nova_Regular.otf');
}

@font-face {
  font-family: 'ProximaNovaThin';
  src: url('../fonts/Proxima_Nova/ProximaNovaThin.otf');
}

@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url('../fonts/Proxima_Nova/ProximaNovaSemibold.otf');
}

body {
	font-family: 'ProximaNova', 'Open Sans', Helvetica, Arial, sans-serif;
}

@media only screen and (max-device-width:768px){
	body.modal-open {
	    overflow: hidden;
	    position:fixed;
	    width: 100%;
	}
}

ul, ol {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

section {
	padding: 30px 0;
}

a:hover,
a:focus {
	color: #ffffff;
	outline: none;
	text-decoration: underline;
}

@media (min-width: 1600px) {
	.container {
	    max-width: 90%;
	}
}

.section{
	&-title {
		font-size: 36px;
		font-weight: 300;
		text-transform: uppercase;
		margin-bottom: .5em;
		span {
			font-weight: 700;
			color: #00c6ff; 
		}
		strong {
			font-weight: 700;
		}
	}
}

.dropdown-item.active, .dropdown-item:active {
	background-color: #00c6ff; 
}

.btn {
	color: #ffffff;
	border: none;
	box-shadow: none;
	outline: none;
	text-transform: uppercase;
	background-color: #00c6ff;
	background-image: linear-gradient(to right, #04fcff 0%, #00b5ff 100%);
	border-radius: 0;
    padding: .75rem 1.5rem;
	span {
		margin-right: 10px;
		vertical-align: top;
	}
}

@media only screen  and (max-width : 991px) {
	.section {
		&-title {
			font-size: 24px;
			margin-bottom: 15px;
		}
	}
	section {
		padding: 15px 0;
	}
	.btn {
		width: 100%;
	}
}



	