@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/Proxima_Nova/Proxima_Nova_Regular.otf');
}

@font-face {
  font-family: 'ProximaNovaThin';
  src: url('../fonts/Proxima_Nova/ProximaNovaThin.otf');
}

@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url('../fonts/Proxima_Nova/ProximaNovaSemibold.otf');
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: 'ProximaNova', 'Open Sans', Helvetica, Arial, sans-serif;
	overflow-x: hidden;
	overflow-y: auto !important;
}

* {
    -webkit-overflow-scrolling: touch;
}

main {
	height: auto;
	min-height: 100%;
	padding-top: 70px;
	position: relative;
}

.wrapper {
	height: 100%;
}

.header-all {
	display: block;
}

.header-mobile {
	display: none;
}

.desktop-screen {
	display: block;
}
.mobile-screen {
	display: none;
	padding-top: 0;
}

.mobile-screen .footer {
	height: 90vh;
}

#connectModal {
	z-index: 1100;
}

@media only screen and (max-device-width:768px){
	body.modal-open {
		overflow: hidden;
		position: fixed;
	}
}

body.viewport-lg {
	position: absolute; 
}

ul, ol {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

section {
	padding: 30px 0;
}

a:hover,
a:focus {
	color: #ffffff;
	outline: none;
	text-decoration: underline;
}

@media (min-width: 1600px) {
	.container {
	    max-width: 90%;
	}
}

.section{
	&-title {
		font-size: 36px;
		font-weight: 300;
		text-transform: uppercase;
		margin-bottom: .5em;
		span {
			font-weight: 700;
			color: #00c6ff; 
		}
		strong {
			font-weight: 700;
		}
	}
}

.dropdown-item.active, .dropdown-item:active {
	background-color: #00c6ff; 
}

.btn {
	color: #ffffff;
	border: none;
	box-shadow: none;
	outline: none;
	text-transform: uppercase;
	background-color: #00c6ff;
	background-image: linear-gradient(to right, #04fcff 0%, #00b5ff 100%);
	border-radius: 0;
    padding: .75rem 1.5rem;
	span {
		margin-right: 10px;
		vertical-align: top;
	}
}

@media only screen  and (max-width : 991px) {
	.header-mobile {
		display: block;
	}
	.header-all {
		display: none;
	}
	.desktop-screen {
		display: none;
	}
	.mobile-screen {
		display: block;
	}
	footer {
		display: none;
	}
	.section {
		&-title {
			font-size: 24px;
			margin-bottom: 15px;
		}
	}
	section {
		padding: 15px 0;
	}
	.btn {
		width: 100%;
	}
}

@media only screen  and (max-width : 350px) {
	main {
		padding-top: 50px;
	}
}

.modal-open {
	padding-right: 0 !important;
	width: 100%;	
}

.modal-open .modal {
	padding-right: 0 !important;	
}

.mobile-screen {
	.page {
		width: 100%;
		height: 100vh;
		overflow-x: hidden;
	    overflow-y: auto;	
		background-color: #FFF;
		position: absolute;	
		margin-left: -102%;
		padding-top: 70px;
		padding-bottom: 0;
		z-index: 2;
		-webkit-transform: translate3d(0, 0, 0);
		-webkit-transition: margin .6s ease-in-out;
		-moz-transition: margin .6s ease-in-out;
		-o-transition: margin .6s ease-in-out;
		-ms-transition: margin .6s ease-in-out;
		transition: margin .6s ease-in-out;
		&.active,
		&:target {
			margin-left: 0;
		}
	}
}






	