@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/Proxima_Nova/Proxima_Nova_Regular.otf');
}

@font-face {
  font-family: 'ProximaNovaThin';
  src: url('../fonts/Proxima_Nova/Proxima_Nova_Thin.otf');
}

body {
	font-family: 'ProximaNova', 'Open Sans', Helvetica, Arial, sans-serif;
}

ul, ol {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

section {
	padding: 60px 0;
}

@media (min-width: 1600px) {
	.container {
	    max-width: 90%;
	}
}

.section{
	&-title {
		font-size: 36px;
		font-weight: 300;
		text-transform: uppercase;
		margin-bottom: 30px;
		span {
			font-weight: 700;
			color: #00c6ff; 
		}
	}
}

.btn {
	color: #00c6ff;
	border: 2px solid #00c6ff;
	border-radius: 0;
	padding: .375rem 1.5rem;
	span {
		margin-right: 10px;
		vertical-align: top;
	}
}

@media only screen  and (max-width : 991px) {
	.section {
		&-title {
			font-size: 24px;
			margin-bottom: 15px;
			text-align: center;
		}
	}
	section {
		padding: 30px 0;
	}
}



	