header{
	position: relative;
}
.navbar {
	background-color: #FFF;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}
#contactsModal {
	.modal {
		&-content{
			background-color: #f1fbfd;
			color: #696969;	
		}
		&-header {
			border-bottom: 1px solid #696969;
			.close {
				color: #696969;
				outline: none;
				box-shadow: none;
			}			
		}	
		&-body {
			padding: 50px 0;
		}	
	}	
}
.collapse.show {
    padding-top: 15px;
}
.header-info {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	z-index: -1;
	&-item {
		display: inline-block;
		&:last-child {
			margin-left: 60px;
		}
	}
	&-lang {
		span {
			margin-right: 5px;
			&:hover {
				color: #00c6ff;
			}
		}
	}
	&-phone {
		.info-phone-icon {
			margin-right: 5px;
		}
	}
	&-call a {
		color: #00c6ff;
		font-weight: 300;
		text-decoration: underline;
		text-transform: uppercase;
	}
}

.navbar-light .navbar-nav .nav-item {
	position: relative;
}

.navbar-light .navbar-nav .nav-link {
	color: #000000;
}

.navbar-light .navbar-nav .nav-item:hover:after,
.navbar-light .navbar-nav .nav-item:focus:after,
.navbar-light .navbar-nav .nav-item:active:after,
.navbar-light .navbar-nav .nav-item.active:after {
	content: '';
	position: absolute;
	display: inline-block;
	left: 5px;
	bottom: 0;
	width: 60%;
	height: 5px;
	background: #00c6ff;
}

.navbar-light .navbar-nav .nav-item:hover,
.navbar-light .navbar-nav .nav-item:focus,
.navbar-light .navbar-nav .nav-item:active,
.navbar-light .navbar-nav .nav-item.active {
	outline: none;
}

.dropdown:hover {
	.dropdown-menu {
		display: block;
	}
}
@media only screen  and (max-width : 991px) { 
	.dropdown-menu {
		border: none;
	}
	.header-info {
		position: absolute;
		right: 20px;
		top: 22px;
		transform: translateY(0);
		text-align: center;
		&-phone {
			display: none;
		}
		&-item {
			margin-bottom: 10px;
		}
		&-call {
			display: none;
		}
	}
	.navbar-nav .nav-link {
		padding-left: 5px;
		padding-right: 5px;
	}
}

@media only screen  and (max-width : 479px) { 
	.header-info {
		right: 20px;
	}
}

@media only screen  and (max-width : 350px) { 
	.header-info {
		right: 10px;
	}
}

@media only screen  and (min-width : 1824px) { 
 .navbar-brand{
		margin-right: 5rem;
 }
}
