header{
	position: relative;
}
#contactsModal {
	.modal {
		&-content{
			background-color: #313131;
			color: #ffffff;	
		}
		&-header {
			.close {
				color: #ffffff;
			}			
		}	
		&-body {
			padding: 50px 0;
		}	
	}	
}
.header-info {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	&-item {
		display: inline-block;
		&:first-child {
			margin-right: 120px;
		}
		&:last-child {
			margin-left: 60px;
		}
	}
	&-lang {
		span {
			margin-right: 5px;
			&:hover {
				color: #00c6ff;
			}
		}
	}
	&-phone {
		.info-phone-icon {
			margin-right: 5px;
		}
	}
	&-call a {
		color: #00c6ff;
		font-weight: 300;
		text-decoration: underline;
		text-transform: uppercase;
	}
}

.navbar-light .navbar-nav .nav-link {
	color: #000000;
	position: relative;
}

.navbar-light .navbar-nav .nav-link:hover:after,
.navbar-light .navbar-nav .nav-link:focus:after,
.navbar-light .navbar-nav .nav-link:active:after,
.navbar-light .navbar-nav .nav-link.active:after {
	content: '';
	position: absolute;
	display: inline-block;
	left: 5px;
	bottom: 0;
	width: 60%;
	height: 5px;
	background: #00c6ff;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link.active {
	outline: none;
}

@media only screen  and (max-width : 991px) { 
	.header-info {
		position: absolute;
		right: 75px;
		top: 22px;
		transform: translateY(0);
		text-align: center;
		&-phone {
			display: none;
		}
		&-item {
			margin-bottom: 10px;
			&:first-child {
				margin-right: 0;
			}
			&:last-child {
				margin-left: 0;
				display: block;
			}
		}
		&-call {
			display: none;
		}
	}
	.navbar-nav .nav-link {
		padding-left: 5px;
		padding-right: 5px;
	}
}

@media only screen  and (min-width : 1824px) { 
 .navbar-brand{
		margin-right: 5rem;
 }
}
