.light-package {
	&-proposition {
		span {
			display: inline-block;
			color: #2b2b2b;
			font-size: 36px;
			font-weight: 400;
			vertical-align: bottom;
			padding-bottom: 35px;
		}
	}
	&-icon {
		margin-bottom: 20px;
		height: 57px;
	}
	&-info {
		a {
			color: #00c6ff;
		}
		margin-bottom: 30px;
	}
}

@media only screen  and (max-width : 991px) { 
	.light-package {
		&-proposition {
			img {
				width: 100px;
			}
			span {
				font-size: 20px;
			}
		}
		&-icon {
			margin-bottom: 10px;
		}
		&-info {
			width: 60%;
			margin: 0 auto 20px;
		}
	}
}

