.partners {
	background-color: #f6f6f6;
	&-item {
		display: inline-block;
		width: 32%;
		text-align: center;
		padding: 20px;
		&:hover,
		&:focus {
			outline: none;
			background-color: #D8D8D8; 
			background-image: url('../images/corners.png');
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: 100% 100%;
		}
	}
}

@media only screen  and (max-width : 600px) {
	.partners {
		&-item {
			display: block;
			width: 100%;
		}
	}
}