.partners {
	background-image: linear-gradient(45deg, rgba(255, 227, 4, 0) 0%, #ff9700 100%);
	background-repeat: no-repeat;
	background-position: center center;   
	&-list {
		width: 40%;
		margin: auto;
	}
	&-item {
		display: inline-block;
		width: 45%;
		text-align: center;
		padding: 20px;
		&:hover,
		&:focus {
			outline: none;
			background-color: #D8D8D8; 
			background-image: url('../images/corners.png');
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: 100% 100%;
		}
		&.keeper {
			img {
				width: 180px;
			}
		}
	}
}

@media only screen  and (max-width : 600px) {
	.partners {
		&-list {
			width: 100%;
		}
		&-item {
			display: inline-block;
			width: 48%;
			&.keeper {
				img {
					width: 100%;
				}
			}
		}
	}
}

@media only screen  and (min-width : 1824px) {
	.partners {
		&-list {
			width: 30%;
		}
	}
}