.places {
	&-item {
		margin-left: auto;
		margin-right: auto;
		width: 170px;
		height: 170px;
		border: 1px solid #f6f6f6;
		background-color: #ffffff;
		text-align: center;
		padding-top: 25%;
		box-shadow: 0 30px 50px rgba(166, 166, 166, 0.4);
		background-color: #ffffff;
		margin-bottom: 50px;
	}
	&-heading {
		font-size: 25px;
	}
	&-icon {
		margin-bottom: 15px;
	}
	&-btn {
		.btn {
			background-color: #00c6ff;
			color: #ffffff;
			text-transform: uppercase;
		}
	}
}

@media only screen  and (max-width : 1199px) {
	.places {
		&-item {
			margin-bottom: 20px;
			padding-top: 40px;
			width: 150px;
			height: 160px;
		}
	}
}

@media only screen  and (max-width : 991px) { 
	.places {
		&-item {
			padding-top: 20px;
			width: 170px;
			height: 170px;
		}
		&-heading {
			font-size: 20px;
		}
		&-icon {
			width: 100px;
			height: 100px;
			margin: 0 auto 5px;
			img {
				width: 100%;
			}
		}
	}
}

@media only screen  and (min-width : 1824px) {
	.places {
		&-item {
			width: 191px;
			height: 191px;
		}
	}
}

