.personal-profile {	
	margin-top: -400px;
	padding-top: 450px;
	background-color: #f5f5f5;
	background-image: url('../images/bg-transform.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	-webkit-background-size: cover; 
	  -o-background-size: cover; 
	  background-size: cover;  
	img {
		width: 100%;
	}
	&-img	{
		position: relative;
	}
	&-heading {
		position: absolute;
		left: 35px;
		top: -100px;
		font-size: 30px;
		text-transform: uppercase;
		font-weight: 300;
		span {
			font-weight: 700;
			color: #00c7ff;
		}		
	} 
	&-desktop {
		display: inline-block;
	}
	&-mob {
		display: none;
	}
}

@media only screen  and (max-width : 991px) {
	.personal-profile {	
		margin-top: -180px;
		padding-top: 210px;
		&-heading {
			width: 100%;
			left: 0;
			top: -110px;
			font-size: 24px;
			text-align: center;
		} 
		&-desktop {
			display: none;
		}
		&-mob {
			display: inline-block;
		}
	}
}

@media only screen  and (min-width : 1824px) {
	.personal-profile {
		&-heading {
			font-size: 36px;
		}
	}
}