.tablet-menu {
	position: relative;
	padding-bottom: 200px;
	background-image: url('../images/bg-yellow.png');
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover; 
	  -o-background-size: cover; 
	  background-size: cover;   
	&-img {
		position: relative;
		text-align: center;
		padding: 80px 0 0;
		img {
			width: 85%;
		}
	}
	&-heading {
		position: absolute;
		right: 35px;
		top: 50px;
		font-size: 30px;
		text-transform: uppercase;
		font-weight: 300;
		text-align: left;
		span {
			font-weight: 700;
			color: #fff;
		}		
	}
	&-desktop {
		display: inline-block;
	}
	&-mob {
		display: none;
	}
}

@media only screen  and (max-width : 1199px) {
	.tablet-menu {
		&-heading {
		    right: 0;
    		left: auto;
    		top: -20px;
    		text-align: left;
		}
		&-img {
			img {
				width: 80%;
			}
		}
	}
}

@media only screen  and (max-width : 991px) {
	.tablet-menu {
		padding-bottom: 250px;
		padding-top: 90px;
		&-heading {
			top: -75px;
			font-size: 24px;
		    right: auto;
    		left: 0;
		}
		&-desktop {
			display: none;
		}
		&-mob {
			display: inline-block;
		}
		&-img {
			padding: 0;
		}
	}
}

@media only screen  and (max-width : 767px) {
	.tablet-menu {
		padding-bottom: 150px;
	}
}

@media only screen  and (min-width : 1824px) {
	.tablet-menu {
		padding-bottom: 300px;
		&-heading {
			font-size: 36px;
			right: 180px;
		}
	}
}